$def with(title, indi_id, individual) 
$var title:$title
<!-- 
<form method="POST" action="/fitness/$indi_id">
    <div class="row">
        <div class="span10 offset2" style="border:4px solid black">
            <ul id="sortable-trait">
                $for note in individual:
                    <div id="$note" class="span1 ui-state-default">
                        $note
                    </div>
            </ul>
        </div>
        <div class="span1" style="border:4px solid black">
            <button id="next-song" class="btn primary">Next Song!</button>
        </div>        
    </div>    
</form>

<div class="actions">
        <button id="play" class="btn primary">Listen!</button>
        <button id="submit-individual" class="$indi_id" class="btn primary">Save Order!</button>        
</div>





 -->





<div class="row span8 offset2" style="background-color:rgba(212, 230, 235, 0.84);border:1px solid black;">
    <div class="span2">
        <form method="POST" action="/fitness/$indi_id">
            
            <ul id="sortable-trait">
                $for note in individual:
                    <div id="$note" style="background-color:rgba(139, 139, 139, 0.5);border:2px solid black; height:50px;">
                        $note
                    </div>
            </ul>
            <div>
                <button id="next-song" class="span2" style="background-color:#F85B5B;border:4px solid black;"><h3>Next Song!</h3></button>
            </div> 
        </form>  
    </div>   


    <div class="offset3" >
        <div class="span2 actions">
            <button id="play" style="background-color:#12EC35;border:4px solid black; width:95px;height:50px;">Listen!</button>

            <button id="submit-individual" class="$indi_id" style="background-color:#EEC07A;border:4px solid black; height:50px;">Save Order!</button>        
        </div>

    </div>   
     

</div>    



