$def with(title, indi_id, individual) 
$var title:$title

<form method="POST" action="/fitness/$indi_id">
    <div class="row">
        <div class="span10 offset2">
            <ul id="sortable-trait">
                $for note in individual:
                    <div id="$note" class="span1 ui-state-default">
                        $note
                    </div>
            </ul>
        </div>
    </div>
    <button id="next-song" class="btn primary">Next Song!</button>
</form>

<div class="actions">
        <button id="play" class="btn primary">Listen!</button>
        <button id="submit-individual" class="$indi_id" class="btn primary">Save Order!</button>        
</div>
