$def with(title, traits) 
$var title:$title

<!-- <form method="POST" action="/fitness" class="well"> -->
    <div class="row">
        <div class="span10 offset2">
            <ul id="sortable-trait">
               $for trait in traits:
                    <div id="$trait" class="span1 ui-state-default">
                        $trait
                    </div>
            </ul>
        </div>
        <div class="actions">
            <button id="play" class="btn primary" type="submit">Submit!</button>
        </div>
    </div>
<!-- </form> -->