$def with (title, songs) 
$var title:$title

<!-- <form method="POST" action="/" class="well">
	<legend>GA Settings</legend>
	<div class="form-inline">
		<input type="text" class="input-large" placeholder="Population Size" style="height:30;" name="pop_size" />
		<input type="text" class="input-large" placeholder="Number of Traits" style="height:30;" name="num_traits" />
		<input type="text" class="input-large" placeholder="Number of Generations" style="height:30;" name="num_gen" />
		<input type="text" class="input-large" placeholder="Markov Chain: Size" style="height:30;" name="mc_size" />
		<input type="text" class="input-large" placeholder="Markov Chain: Node History" style="height:30;" name="mc_nodes" />
	</div>
	<div class="form-inline">
		<select class="input-large" name="influencer">
			$for song in songs:
				<option>$song</option>
		</select>		
	</div>
	<div class="actions">
		<button class="btn primary" type="submit">Submit!</button>
	</div>
</form> -->
<form method="POST" action="/">
	<div class="span12">
		<legend style="color:rgba(151, 115, 115, 0.68);">Genetic Algorithm Melody Composer Initialization Settings -- <small>Fill out everything below!</small></legend>

	</div>

	<div class="well span3" style="background: rgba(100, 100, 100, 0.3);color: #ddd;">
		<legend style="color:rgba(236, 221, 200, 0.32);">Influencer</legend>
			<label>Artist Influencer</label>
				<select class="input-large" name="influencer">			
					$for song in songs:
						<option>$song</option>
				</select>
	</div>


	<div class="well span3" style="background: rgba(100, 100, 100, 0.3);color: #ddd;">
	        <legend style="color:rgba(236, 221, 200, 0.32);">Markov Chain Settings</legend>
	        <label>Markov Chain: Size</label>
	        <input type="text" class="input-large" placeholder="Recommended 100-5000" style="height:30;" name="mc_size" />
			<label>Markov Chain: Node History</label>
			<input type="text" class="input-large" placeholder="Recommended 1-5" style="height:30;" name="mc_nodes" />
	</div>


	<div class="well span3" style="background: rgba(100, 100, 100, 0.3);color: #ddd;">
	        <legend style="color:rgba(236, 221, 200, 0.32);">GA Settings</legend>
	        <label>Population Size</label>
			<input type="text" class="input-large" placeholder="Even Number Required!" style="height:30;" name="pop_size" />
			<label>Number of Traits</label>
			<input type="text" class="input-large" placeholder="Recommended 1-20" style="height:30;" name="num_traits" />
			<label>Number of Generations</label>
			<input type="text" class="input-large" placeholder="Recommended 1-100" style="height:30;" name="num_gen" />

			<label>Mutation Rate</label>
			<input type="text" class="input-large" placeholder="Recommended .3" style="height:30;" name="mrate" />

			<div class="actions">
				<button class="btn primary" type="submit">Submit!</button>
			</div>
	</div>
</form>