$def with (title)
$var title:$title

<div id="player">
	<ul class="player-controls">
        <li class="player-prev" ><i class="icon-step-backward"></i></li>
        <li class="player-play" ><i class="icon-play"></i></li>
        <li class="player-pause" style="display:none;"><i class="icon-pause"></i></li>
        <li class="player-stop" ><i class="icon-stop"></i></li>
        <li class="player-next" ><i class="icon-step-forward"></i></li>
      </ul>

      <div class="player-progress-container">
        <div class="player-progress-bar"></div>
        <span class="player-progress-text"></span>
      </div>

      <ul id="sortable">
            <div id="note" style="background-color:rgba(201, 145, 145, 0.329412);border:2px solid black; height:50px;">
                C#
            </div>

            <div id="note" style="background-color:rgba(201, 145, 145, 0.329412);border:2px solid black; height:50px;">
                C#9
            </div>
        </ul>
          <ul class="player-playlist-container nano">        
            <div class="content">
              <ul class="player-playlist"></ul>
            </div>
          </ul>    
</div>