$def with (title)
$var title:$title


<div class="row">
    <div class="span12" style="border:1px solid black">    	
		<ul id="sortable-trait" class="span10" style="margin-left: 200px;">			
			$for i in range(2):				
			    <div class="span1" style="background-color:red; width:10%; height:10%;">
			        C
			    </div>

			    <div class="span1" style="background-color:blue; width:10%; height:10%;">
					B            
			    </div>
			    
			    <div class="span1" style="background-color:green; width:10%; height:10%;">
			    	A
			    </div>
			    
			    <div class="span1" style="background-color:orange; width:10%; height:10%;">
			    	D
			    </div>
			</div>
		</ul>			
		<div style="background-color:orange; width:5%; height:30%; margin-left: 30px;">
		</div>	
    </div>
</div>


