$def with(title, ff, song_name,l) 
$var title:$title

<form method="POST" action="">
	<fieldset>
		<div class="row">

			<div class="span4">
			
				
				<div class="clearfix">

					<h2>Melody</h2>
					<object type="audio/x-midi" data="/static/$song_name" width="250"
						height="50">
						<param name="autoplay" value="false">
						<param name="autoStart" value="0">
					</object>
				</div>
			</div>

			<div class="span4">	
				<h2>Rating</h2>
				<input name='fv' type="range" min="0" max="100" value="50" step="5"
					onchange="showValue(this.value)" /> <span id="range">50</span>
				
				<script type="text/javascript">
					function showValue(newValue) {
						document.getElementById("range").innerHTML = newValue;
					}
					
				</script>
				
				<!-- $:ff.render_css() -->
				<div class="actions">
					<button class="btn primary" type="submit">Submit!</button>
				</div>
			</div>
		</div>
	</fieldset>
</form>