$def with (title, init_form, sf) 
$var title:$title

<form method="POST" action="">
	<fieldset>
		<div class="row">
			<div class="span4">
				<h2>Selection Initialization</h2>
				<div class="clearfix">
					$if not init_form.valid: Sorry, your input was invalid.</br>
					$:init_form.render_css()
				</div>
			</div>	
			
			<div class="span4">
				<h2>Setting Initialization</h2>
				<div class="clearfix">
					$if not init_form.valid: Sorry, your input was invalid.</br>
					$:sf.render_css()
				</div>
			</div>
			
		</div> <!-- div row -->

		<div class="actions">
			<button class="btn primary" type="submit">Submit!</button>
		</div>
	</fieldset>

</form>

