<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8" />


		<title>{% block title %} base {% endblock %}</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <style> body { padding-top: 60px; } </style>

        {# {% assets 'css_all' %} #}
			{# <link rel='stylesheet' href="{{ ASSET_URL }}"/> #}
		{# {% endassets %} #}

        <!--control_panel.js breaks if we don't load jquery this way-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{
          url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

		{% assets 'js_all' %}
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}
        {% endblock %}
	</head>

	<body>
         {% block navbar %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#">GOROX</a>
                  <div class="nav-collapse">
                    <ul class="nav">
                    </ul>
                    {% block navbar_right %}
                    <ul class="nav pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Catalog</a></li>
                    </ul>
                    {% endblock %}
                  </div><!--/.nav-collapse -->
                </div>
              </div>
        </div>
        {% endblock %}

    	<div class="container page">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        <hr>
        {% block footer %}
            <footer class="footer">
                <p>&copy; beng</p>
            </footer>
        {% endblock %}

        {% block js_footer %}
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        {% endblock %}

	</body>
</html>
